<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy left 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,84}</string>
                <key>spriteSourceSize</key>
                <string>{87,84}</string>
                <key>textureRect</key>
                <string>{{0,0},{87,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy left 2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{87,0},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy left 3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,89}</string>
                <key>spriteSourceSize</key>
                <string>{82,89}</string>
                <key>textureRect</key>
                <string>{{175,0},{82,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy left 4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,85}</string>
                <key>spriteSourceSize</key>
                <string>{84,85}</string>
                <key>textureRect</key>
                <string>{{257,0},{84,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy left 5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,89}</string>
                <key>spriteSourceSize</key>
                <string>{82,89}</string>
                <key>textureRect</key>
                <string>{{341,0},{82,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy left 6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{423,0},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy right 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,84}</string>
                <key>spriteSourceSize</key>
                <string>{87,84}</string>
                <key>textureRect</key>
                <string>{{0,89},{87,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy right 2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{87,89},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy right 3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,89}</string>
                <key>spriteSourceSize</key>
                <string>{82,89}</string>
                <key>textureRect</key>
                <string>{{175,89},{82,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy right 4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,85}</string>
                <key>spriteSourceSize</key>
                <string>{84,85}</string>
                <key>textureRect</key>
                <string>{{257,89},{84,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy right 5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,89}</string>
                <key>spriteSourceSize</key>
                <string>{82,89}</string>
                <key>textureRect</key>
                <string>{{341,89},{82,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy right 6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{423,89},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemy.png</string>
            <key>size</key>
            <string>{511,178}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c6a8476e722959ab62d2009414470bd:1115e01b8953c8dcad5aeb2c49310ae2:6e944191f15ab4e588a1ab6bcc3bd21e$</string>
            <key>textureFileName</key>
            <string>enemy.png</string>
        </dict>
    </dict>
</plist>
