<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>left back 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,59}</string>
                <key>spriteSourceSize</key>
                <string>{33,59}</string>
                <key>textureRect</key>
                <string>{{1,311},{33,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left back 2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,59}</string>
                <key>spriteSourceSize</key>
                <string>{33,59}</string>
                <key>textureRect</key>
                <string>{{1,372},{33,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>left back 3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,59}</string>
                <key>spriteSourceSize</key>
                <string>{33,59}</string>
                <key>textureRect</key>
                <string>{{1,311},{33,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left back 4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,59}</string>
                <key>spriteSourceSize</key>
                <string>{33,59}</string>
                <key>textureRect</key>
                <string>{{36,311},{33,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left front 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,59}</string>
                <key>spriteSourceSize</key>
                <string>{33,59}</string>
                <key>textureRect</key>
                <string>{{62,372},{33,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>left front 2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,59}</string>
                <key>spriteSourceSize</key>
                <string>{33,59}</string>
                <key>textureRect</key>
                <string>{{71,311},{33,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left front 3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,59}</string>
                <key>spriteSourceSize</key>
                <string>{33,59}</string>
                <key>textureRect</key>
                <string>{{62,372},{33,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>left front 4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,59}</string>
                <key>spriteSourceSize</key>
                <string>{33,59}</string>
                <key>textureRect</key>
                <string>{{106,311},{33,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player fall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507177,0.222826}</string>
                <key>spriteOffset</key>
                <string>{12,21}</string>
                <key>spriteSize</key>
                <string>{346,308}</string>
                <key>spriteSourceSize</key>
                <string>{418,368}</string>
                <key>textureRect</key>
                <string>{{1,1},{346,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right back 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,59}</string>
                <key>spriteSourceSize</key>
                <string>{33,59}</string>
                <key>textureRect</key>
                <string>{{123,372},{33,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>right back 2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,59}</string>
                <key>spriteSourceSize</key>
                <string>{33,59}</string>
                <key>textureRect</key>
                <string>{{141,311},{33,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right back 3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,59}</string>
                <key>spriteSourceSize</key>
                <string>{33,59}</string>
                <key>textureRect</key>
                <string>{{123,372},{33,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>right back 4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,59}</string>
                <key>spriteSourceSize</key>
                <string>{33,59}</string>
                <key>textureRect</key>
                <string>{{176,311},{33,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right front 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,59}</string>
                <key>spriteSourceSize</key>
                <string>{33,59}</string>
                <key>textureRect</key>
                <string>{{184,372},{33,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>right front 2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,59}</string>
                <key>spriteSourceSize</key>
                <string>{33,59}</string>
                <key>textureRect</key>
                <string>{{211,311},{33,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right front 3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,59}</string>
                <key>spriteSourceSize</key>
                <string>{33,59}</string>
                <key>textureRect</key>
                <string>{{184,372},{33,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>right front 4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,59}</string>
                <key>spriteSourceSize</key>
                <string>{33,59}</string>
                <key>textureRect</key>
                <string>{{245,372},{33,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player.png</string>
            <key>size</key>
            <string>{348,406}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:596d320fd96d36bbe466c5bf2882074e:a997994beeaff2a5a7a0c69f9abd2936:6f6c59c3c6b7e98e5fb22e47122cb74a$</string>
            <key>textureFileName</key>
            <string>player.png</string>
        </dict>
    </dict>
</plist>
