<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>left back 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,59}</string>
                <key>spriteSourceSize</key>
                <string>{33,59}</string>
                <key>textureRect</key>
                <string>{{0,0},{33,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left back 2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,59}</string>
                <key>spriteSourceSize</key>
                <string>{33,59}</string>
                <key>textureRect</key>
                <string>{{33,0},{33,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left back 3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,59}</string>
                <key>spriteSourceSize</key>
                <string>{33,59}</string>
                <key>textureRect</key>
                <string>{{66,0},{33,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left back 4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,59}</string>
                <key>spriteSourceSize</key>
                <string>{33,59}</string>
                <key>textureRect</key>
                <string>{{99,0},{33,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left front 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,59}</string>
                <key>spriteSourceSize</key>
                <string>{33,59}</string>
                <key>textureRect</key>
                <string>{{132,0},{33,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left front 2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,59}</string>
                <key>spriteSourceSize</key>
                <string>{33,59}</string>
                <key>textureRect</key>
                <string>{{165,0},{33,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left front 3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,59}</string>
                <key>spriteSourceSize</key>
                <string>{33,59}</string>
                <key>textureRect</key>
                <string>{{198,0},{33,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left front 4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,59}</string>
                <key>spriteSourceSize</key>
                <string>{33,59}</string>
                <key>textureRect</key>
                <string>{{231,0},{33,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftb roll 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,59}</string>
                <key>spriteSourceSize</key>
                <string>{68,59}</string>
                <key>textureRect</key>
                <string>{{264,0},{68,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftb roll 2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,59}</string>
                <key>spriteSourceSize</key>
                <string>{68,59}</string>
                <key>textureRect</key>
                <string>{{332,0},{68,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftb roll 3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,59}</string>
                <key>spriteSourceSize</key>
                <string>{68,59}</string>
                <key>textureRect</key>
                <string>{{400,0},{68,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftb roll 4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,59}</string>
                <key>spriteSourceSize</key>
                <string>{68,59}</string>
                <key>textureRect</key>
                <string>{{0,59},{68,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftb roll 5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,59}</string>
                <key>spriteSourceSize</key>
                <string>{68,59}</string>
                <key>textureRect</key>
                <string>{{68,59},{68,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftb roll 6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,59}</string>
                <key>spriteSourceSize</key>
                <string>{68,59}</string>
                <key>textureRect</key>
                <string>{{136,59},{68,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftb roll 7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,59}</string>
                <key>spriteSourceSize</key>
                <string>{68,59}</string>
                <key>textureRect</key>
                <string>{{204,59},{68,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftb roll 8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,59}</string>
                <key>spriteSourceSize</key>
                <string>{68,59}</string>
                <key>textureRect</key>
                <string>{{272,59},{68,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftf roll 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,59}</string>
                <key>spriteSourceSize</key>
                <string>{68,59}</string>
                <key>textureRect</key>
                <string>{{340,59},{68,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftf roll 2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,59}</string>
                <key>spriteSourceSize</key>
                <string>{68,59}</string>
                <key>textureRect</key>
                <string>{{408,59},{68,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftf roll 3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,59}</string>
                <key>spriteSourceSize</key>
                <string>{68,59}</string>
                <key>textureRect</key>
                <string>{{0,118},{68,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftf roll 4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,59}</string>
                <key>spriteSourceSize</key>
                <string>{68,59}</string>
                <key>textureRect</key>
                <string>{{68,118},{68,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftf roll 5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,59}</string>
                <key>spriteSourceSize</key>
                <string>{68,59}</string>
                <key>textureRect</key>
                <string>{{136,118},{68,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftf roll 6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,59}</string>
                <key>spriteSourceSize</key>
                <string>{68,59}</string>
                <key>textureRect</key>
                <string>{{204,118},{68,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftf roll 7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,59}</string>
                <key>spriteSourceSize</key>
                <string>{68,59}</string>
                <key>textureRect</key>
                <string>{{272,118},{68,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftf roll 8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,59}</string>
                <key>spriteSourceSize</key>
                <string>{68,59}</string>
                <key>textureRect</key>
                <string>{{340,118},{68,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right back 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,59}</string>
                <key>spriteSourceSize</key>
                <string>{33,59}</string>
                <key>textureRect</key>
                <string>{{408,118},{33,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right back 2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,59}</string>
                <key>spriteSourceSize</key>
                <string>{33,59}</string>
                <key>textureRect</key>
                <string>{{441,118},{33,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right back 3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,59}</string>
                <key>spriteSourceSize</key>
                <string>{33,59}</string>
                <key>textureRect</key>
                <string>{{0,177},{33,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right back 4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,59}</string>
                <key>spriteSourceSize</key>
                <string>{33,59}</string>
                <key>textureRect</key>
                <string>{{33,177},{33,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right front 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,59}</string>
                <key>spriteSourceSize</key>
                <string>{33,59}</string>
                <key>textureRect</key>
                <string>{{66,177},{33,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right front 2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,59}</string>
                <key>spriteSourceSize</key>
                <string>{33,59}</string>
                <key>textureRect</key>
                <string>{{99,177},{33,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right front 3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,59}</string>
                <key>spriteSourceSize</key>
                <string>{33,59}</string>
                <key>textureRect</key>
                <string>{{132,177},{33,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right front 4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,59}</string>
                <key>spriteSourceSize</key>
                <string>{33,59}</string>
                <key>textureRect</key>
                <string>{{165,177},{33,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rightb roll 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,59}</string>
                <key>spriteSourceSize</key>
                <string>{68,59}</string>
                <key>textureRect</key>
                <string>{{198,177},{68,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rightb roll 2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,59}</string>
                <key>spriteSourceSize</key>
                <string>{68,59}</string>
                <key>textureRect</key>
                <string>{{266,177},{68,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rightb roll 3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,59}</string>
                <key>spriteSourceSize</key>
                <string>{68,59}</string>
                <key>textureRect</key>
                <string>{{334,177},{68,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rightb roll 4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,59}</string>
                <key>spriteSourceSize</key>
                <string>{68,59}</string>
                <key>textureRect</key>
                <string>{{402,177},{68,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rightb roll 5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,59}</string>
                <key>spriteSourceSize</key>
                <string>{68,59}</string>
                <key>textureRect</key>
                <string>{{0,236},{68,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rightb roll 6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,59}</string>
                <key>spriteSourceSize</key>
                <string>{68,59}</string>
                <key>textureRect</key>
                <string>{{68,236},{68,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rightb roll 7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,59}</string>
                <key>spriteSourceSize</key>
                <string>{68,59}</string>
                <key>textureRect</key>
                <string>{{136,236},{68,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rightb roll 8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,59}</string>
                <key>spriteSourceSize</key>
                <string>{68,59}</string>
                <key>textureRect</key>
                <string>{{204,236},{68,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rightf roll 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,59}</string>
                <key>spriteSourceSize</key>
                <string>{68,59}</string>
                <key>textureRect</key>
                <string>{{272,236},{68,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rightf roll 2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,59}</string>
                <key>spriteSourceSize</key>
                <string>{68,59}</string>
                <key>textureRect</key>
                <string>{{340,236},{68,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rightf roll 3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,59}</string>
                <key>spriteSourceSize</key>
                <string>{68,59}</string>
                <key>textureRect</key>
                <string>{{408,236},{68,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rightf roll 4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,59}</string>
                <key>spriteSourceSize</key>
                <string>{68,59}</string>
                <key>textureRect</key>
                <string>{{0,295},{68,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rightf roll 5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,59}</string>
                <key>spriteSourceSize</key>
                <string>{68,59}</string>
                <key>textureRect</key>
                <string>{{68,295},{68,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rightf roll 6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,59}</string>
                <key>spriteSourceSize</key>
                <string>{68,59}</string>
                <key>textureRect</key>
                <string>{{136,295},{68,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rightf roll 7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,59}</string>
                <key>spriteSourceSize</key>
                <string>{68,59}</string>
                <key>textureRect</key>
                <string>{{204,295},{68,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rightf roll 8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,59}</string>
                <key>spriteSourceSize</key>
                <string>{68,59}</string>
                <key>textureRect</key>
                <string>{{272,295},{68,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player.png</string>
            <key>size</key>
            <string>{476,354}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47cb4aa7b2795f35e20bdd2f97451f61:629a6a082a30e8ca05c0b644a41bbe99:6f6c59c3c6b7e98e5fb22e47122cb74a$</string>
            <key>textureFileName</key>
            <string>player.png</string>
        </dict>
    </dict>
</plist>
